@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Source+Serif+Pro&family=Tenor+Sans&display=swap');
body{
    background-color:var(--c1);
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'Libre Franklin';
    color: rgb(0, 0, 0);
}
p{
    font-family: 'Libre Franklin';
}
h1 , h2, h3, h4, h5, h6{
    font-weight: 600;
    font-family: 'Tenor Sans';
}
button{
    border: none;
}
li{
    font-family: 'Libre Franklin';
    color: rgb(0, 0, 0);
}
[class *= "__container"]{
    width: 1200px;
    padding: 0px 30px;
}
@media(max-width:1240px){
    [class *= "__container"]{
        width: 1120px;
        padding: 0px 30px;
    }
}
@media(max-width:1180px){
    [class *= "__container"]{
        width: 1000px;
        padding: 0px 30px;
    }
}
@media(max-width:1024px){
    [class *= "__container"]{
        width: 850px;
        padding: 0px 30px;
    }  
}
@media(max-width:980px){
    [class *= "__container"]{
        width: 700px;
        padding: 0px 30px;
    } 
}
@media(max-width:768.98px){
    [class *= "__container"]{
        width: 600px;
        padding: 0px 30px;
    }
}
@media(max-width:630px){
    [class *= "__container"]{
        width: 485px;
        padding: 0px 30px;
    }   
}
@media(max-width:535px){
    [class *= "__container"]{
        width: 370px;
        padding: 0px 30px;
    }  
   
}
@media(max-width:426px){
    [class *= "__container"]{
        width: 350px;
        padding: 0px 15px;
    }
}
@media(max-width:376px){
    [class *= "__container"]{
        width: 280px;
        padding: 0px 15px;
    }
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
}
.header__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 37px;
    justify-content: space-between;
    border-bottom: 2px solid #E6E6E6;
    padding-bottom: 35px;
    margin: 0 auto;
}
.menu__list-item{
    gap: 0px 20px;
}

/* ! */
.container{
    display: flex;
    flex-direction: column;
}
.image{
    margin: 0 auto;
}
.category{
    padding-left: 30px;
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #999999;

}
.title{
    font-weight: 400;
    padding-top: 50px;
    padding-left: 30px;
}
.content{
    padding-left: 30px;
}
@media(max-width:767.98px){
    .image{
        width: 500px;
    }
}
@media(max-width:570px){
    .image{
        width: 400px;
    } 
    .menu__list-item{
        display: none;
    }
}
@media(max-width:430px){
    .image{
        width: 300px;
    }
    .title{
        padding-left: 15px;
    }
}
.footer{
    width: 100%;
    height: 100%;
    background-color: #141414;
}

.footer__container{
    padding-top: 90px;
}
.footer__company__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 2px solid #4D4D4D;
}
.footer__logo{
    fill: white;
}
.footer__company__privacy{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #666666;
    padding-left: 15px;
}
.footer__center-content{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.categories-list__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.categories-list{
    display: flex;
    flex-direction: row;
    gap: 0px 120px;
}
.list-col{
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
}
.list-item{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.08em;
}
.footer__center-contant__user-side{
    padding-left: 100px;
}
.user-side__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.footer-form__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.footer-form__input-wrapper{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 0px;
    width: 200px;
    height: 47px;
    display: flex;
}
.footer-form__input{
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Libre Franklin';
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    padding-left: 10px;
}
.footer-form__button{   
    width: 80px;
    height: 50px;
    background: #000000;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}
.footer__bottom-content{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    gap: 0px 150px;
}
.footer__bottom-content__information{
    display: flex;
    flex-direction: column;
}
.information-list__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.information-list{
    display: flex;
    flex-direction: column;
}
.footer__bottom-content__media{
    display: flex;
    flex-direction: column;
}
.media-list__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.media-list{
    display: flex;
    flex-direction: column;
}
.footer__bottom-content__template{
    display: flex;
    flex-direction: column;
}
.template-list__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.template-list{
    display: flex;
    flex-direction: column;
}

@media(max-width:1230px){
    .categories-list{
        gap: 0px 40px;
    }
}

@media(max-width:980px){
    .footer__center-content{
        flex-direction: column;
    }
    .footer__center-contant__user-side{
        padding-left: 0px;
    }
}
@media(max-width:660px){
    .footer__bottom-content{
        gap: 0px 40px;
    }
}
@media(max-width:550px){
    .categories-list{
        flex-direction: column;
      
    }
}
@media(max-width:400px){
    .footer__bottom-content{
        flex-direction: column;
    }
}
.just-validate-error-label{
    font-family: 'Libre Franklin';
    position: absolute;
    margin-top: 50px;
}