@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Source+Serif+Pro&family=Tenor+Sans&display=swap');
body{
    background-color:var(--c1);
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'Libre Franklin';
    color: rgb(0, 0, 0);
}
p{
    font-family: 'Libre Franklin';
}
h1 , h2, h3, h4, h5, h6{
    font-weight: 600;
    font-family: 'Tenor Sans';
}
button{
    border: none;
}
li{
    font-family: 'Libre Franklin';
    color: rgb(0, 0, 0);
}
[class *= "__container"]{
    width: 1230px;
    padding: 0px 15px;
    margin: 0 auto;
}
@media(max-width:1240px){
    [class *= "__container"]{
        width: 1170px;
        padding: 0px 15px;
        margin: 0 auto;
    }
}
@media(max-width:1180px){
    [class *= "__container"]{
        width: 1000px;
        padding: 0px 15px;
        margin: 0 auto;
    }
}
@media(max-width:1024px){
    [class *= "__container"]{
        width: 850px;
        padding: 0px 15px;
        margin: 0 auto;
    }  
}
@media(max-width:980px){
    [class *= "__container"]{
        width: 700px;
        padding: 0px 15px;
        margin: 0 auto;
    } 
}
@media(max-width:768.98px){
    [class *= "__container"]{
        width: 500px;
        padding: 0px 15px;
        margin: 0 auto;
    }
}
@media(max-width:550px){
    [class *= "__container"]{
        width: 400px;
        padding: 0px 15px;
        margin: 0 auto;
    }   
}
@media(max-width:426px){
    [class *= "__container"]{
        width: 350px;
        padding: 0px 15px;
        margin: 0 auto;
    }
}
@media(max-width:376px){
    [class *= "__container"]{
        width: 285px;
        padding: 0px 15px;
        margin: 0 auto;
    }
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.header__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 37px;
    justify-content: space-between;
    border-bottom: 2px solid #E6E6E6;
    padding-bottom: 35px;
}
.menu__list-item{
    gap: 0px 20px;
}

.promo__container{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 35px;
}
.promo-description{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.promo-description__header{
    font-size: 10px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #999999;
}
.promo-description__title{
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400
}
.promo-desctiption__subtitle{
    font-size: 16px;
    color: #666666;
    font-family: 'Source Serif Pro';
}
.promo-desciption__author{
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-weight: 700;
}

@media(max-width:1240px){
    .latest-wrapper{
        justify-content: center;
    }
    .actual__container{
        justify-content: center;
        gap: 0px 145px;
    }
}

@media(max-width:1180px){
   .promo-image{
    width: 500px;
   }
}
@media(max-width:1024px){
    .promo-image{
        width: 425px;
    }
}
@media(max-width:980px){
    .promo-description__title{
        font-size: 20px;
        width: 240px;
    }
    .promo-desctiption__subtitle{
        font-size: 12px;
    }
}
@media(max-width:768px){
    .promo-image {
        width: 200px;
        height: 200px;
    }
    .promo__container{
        align-items: center;
    }
}
@media(max-width:767.98px){
    .promo__container{
        flex-direction: column;
    }
    .promo-image {
        width: 100%;
        height: 100%;
    }
    .promo-description{
        padding-left: 0px;
    }
}

.actual__container{
    padding-bottom: 100px;
    border-bottom: 2px solid #E6E6E6;
}

.actual__content{
    width: 400px;
    height: 400px;
    margin-top: 35px;
}

.actual-description__header{
    font-size: 10px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #999999;
}
.actual-description__title{
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
}
.actual-description__author{
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-weight: 700;
}
            

.actual__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 35px;
}

.latest__container{
    padding-top: 50px;
}
@media(max-width:426px){
    .content-image{
        width: 300px;
    }
    .menu__list-item{
        display: none;
    }
    .actual-description__title{
        font-size: 16px;
        width: 255px;
    }
    .actual__content{
        width: 305px;
    }
}
@media(max-width:326px){
      .content-image{
        width: 275px;
    }
   
}


/* ! */

.latest__container{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    border-bottom: 2px solid #E6E6E6;
}
.latest-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.latest-wrapper__content{
    width: 305px;
    height: 390px;
    padding-top: 40px;
}

.latest__content-image{
    width: 285px;
    height: 187px;
}
.latest__content-description__title{
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}
.latest-header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}
.latest__content-description__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
}
.latest__content-description{
    width: 285px;
}
.latest__content-description__author{
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
}

.latest__button-add-content{
    margin: 0 auto;
    margin-top: 65px;
    width: 205px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-family: 'Libre Franklin';
    font-size: 12px;
    cursor: pointer;
}


/* ! */
.featured__container{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}

.featured-header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #999999;
}
.featured__content-wrapper{
    width: 610px;
    height: 570px;
}
.featured__content{
    display: flex;
    flex-direction: column;
}
.featured__content-top{
    display: flex;
    flex-direction: row;
    gap: 0px 20px;
}
.featured__content-bottom{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    gap: 0px 20px;
}
.featured__content-image{
    width: 590px;
    height: 385px;
}
.featured__content__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #999999;
}
.featured__content__title{
    font-family: 'Tenor Sans';
    font-weight: 400;
    font-size: 19px;
    text-transform: uppercase;
    color: #000000;
}
.featured__content__author{
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
}

@media(max-width:1220px){
    .featured__content-image {
        width: 500px;
        height: 330px;
    }
    .featured__content-wrapper{
        width: 500px;
        height: 570px;
    }
}

@media(max-width:1050px){
    .featured__content-image {
        width: 350px;
        height: 250px;
    }
    .featured__content-wrapper{
        width: 350px;
    }
}
@media(max-width:768px){
    .featured__content-image {
        width: 400px;
        height: 290px;
    }
    
    .featured__content-wrapper{
        width: 410px;
    }
    .featured__content-top{
        flex-direction: column
    }
    .featured__content-bottom{
        flex-direction: column
    }
    .featured__content{
        align-items: center;
    }
}
@media(max-width:470px){
    .featured__content-image{
        width: 285px;
        height: 187px;
    }
    .featured__content-wrapper {
        width: 300px;
    }
}

.footer{
    width: 100%;
    height: 620px;
    background-color: #141414;
}

.footer__container{
    padding-top: 90px;
}
.footer__company__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 2px solid #4D4D4D;
}
.footer__logo{
    fill: white;
}
.footer__company__privacy{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #666666;
    padding-left: 15px;
}
.footer__center-content{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.categories-list__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.categories-list{
    display: flex;
    flex-direction: row;
    gap: 0px 120px;
}
.list-col{
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
}
.list-item{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.08em;
}
.footer__center-contant__user-side{
    padding-left: 100px;
}
.user-side__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.footer-form__wrapper{

}
.footer__bottom-content{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    gap: 0px 150px;
}
.footer__bottom-content__information{
    display: flex;
    flex-direction: column;
}
.information-list__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.information-list{
    display: flex;
    flex-direction: column;
}
.footer__bottom-content__media{
    display: flex;
    flex-direction: column;
}
.media-list__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.media-list{
    display: flex;
    flex-direction: column;
}
.footer__bottom-content__template{
    display: flex;
    flex-direction: column;
}
.template-list__header{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #666666;
}
.template-list{
    display: flex;
    flex-direction: column;
}